mixin header(lang, path)
    - lang = lang || 'de'
    - path = path || ''
    header#header.header
        .header__wrapper
            a.header__logo(role='banner' href=base + i18n[lang].path_prefix aria-label='GLAZSHNEYDER' rel='home')
                img.header__logo-min(src='favicon.svg' alt='' width='60px' height='60px' )
                img.header__logo-max(src='images/logo.svg' alt='' width='156px' height='177px' )
            nav.header__nav
                input#menu__toggle.menu__toggle.hide-from-wide(type='checkbox', aria-label=i18n[lang].nav.toggle_menu)
                span.menu__toggle-label.menu__toggle-label--open.hide-from-wide(lang="en-GB") Menu
                span.menu__toggle-label.menu__toggle-label--close.hide-from-wide
                ul#menu__list.menu__list
                    li.menu-item
                        a(target='' href=base + i18n[lang].path_prefix + '#andrey') Andrey
                    li.menu-item
                        a(target='' href=base + i18n[lang].path_prefix + '#anna') Anna
                    li.menu-item
                        a(target='' href=base + i18n[lang].path_prefix + '#contact')= i18n[lang].nav.contact
                    li.menu-item
                        a(target='' href=(lang === 'de' ? base + 'en/' + path : base + path))= lang === 'de' ? 'EN' : 'DE'
                a.scroll-to-top(href='#top' aria-label=i18n[lang].nav.scroll_to_top) ↑