mixin head(lang)
    - lang = lang || 'de'
    head
        meta(charset='UTF-8')
        base(href=locals.base)
        script.
          document.documentElement.classList.remove('no-js')
        title GLAZSHNEYDER
        // a

        meta(property='og:site_name' content='GLAZSHNEYDER')
        meta(property='og:locale' content=lang === 'de' ? 'de-DE' : 'en-GB')
        meta(property='og:title' content='GLAZSHNEYDER')
        meta(property='og:url' content='https://glazshneyder.com')
        meta(property='og:type' content='website')
        meta(property='og:image' content='https://glazshneyder.com/images/anna_andrey.jpg')
        meta(property='og:description' content=i18n[lang].meta.description)

        script(type='application/ld+json').
            [
                {
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    "name": "glazshneyder",
                    "url": "https://glazshneyder.com"
                },
                {
                    "@context": "https://schema.org",
                    "@type": "Person",
                    "url": "https://glazshneyder.com",
                    "contactPoint": [
                        {
                            "@type": "ContactPoint",
                            "url": "https://glazshneyder.com/#contact",
                            "contactType": "customer support",
                            "availableLanguage": ["German", "English"]
                        }
                    ]
                }
            ]
        meta(name='description' content=i18n[lang].meta.description)
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')

        link(rel='dns-prefetch' href='//s.w.org')
        link(rel='canonical' href='https://glazshneyder.com/')
        link(rel='shortlink' href='https://glazshneyder.com/')
        link(hreflang='de' href='https://glazshneyder.com/' rel='alternate')
        link(hreflang='en' href='https://glazshneyder.com/en/' rel='alternate')
        link(hreflang='x-default' href='https://glazshneyder.com/' rel='alternate')