mixin home(lang)
    - lang = lang || 'de'
    article
        section.article-content
            .article-body
                .wp-block-cover-image.has-background-dim.has-left-content.alignfull.hero(style="background-image: url('images/anna_cat_training.jpg')")

                .wp-block-spacer(style='height: 20px')

                h2#andrey= i18n[lang].home.andrey.heading
                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/andrey_portrait.jpg' alt='')
                p!= i18n[lang].home.andrey.about_1

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/andrey_swan.jpg' alt='')
                p!= i18n[lang].home.andrey.about_2

                .wp-block-spacer(style='height: 20px')

                h2#anna= i18n[lang].home.anna.heading
                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/anna_portrait.jpg' alt='')
                p!= i18n[lang].home.anna.about_1

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/anna_jump.jpg' alt='')
                p!= i18n[lang].home.anna.about_2

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/anna_studio.jpg' alt='')

                .wp-block-spacer(style='height: 60px')

                h2#contact= i18n[lang].home.contact.heading
                p(style='text-align: left')
                    span= i18n[lang].home.contact.leave_me_a_note + ': '
                    a(href='mailto:hello@andreyanna.de' target='_blank' rel='noopener noreferrer') hello@andreyanna.de
