include socialEmbeds.pug

mixin home(lang)
    - lang = lang || 'de'
    article
        section.article-content
            .article-body
                .wp-block-cover-image.has-background-dim.has-left-content.alignfull.hero(style="background-image: url('images/anna_andrey.jpg')")

                .wp-block-spacer(style='height: 20px')

                h2#andrey= i18n[lang].home.andrey.heading
                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/andrey_portrait.jpg' alt='')
                p!= i18n[lang].home.andrey.about_1

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/andrey_swan.jpg' alt='')
                p!= i18n[lang].home.andrey.about_2

                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/andrey_performing.jpg' alt='')
                p!= i18n[lang].home.andrey.about_3

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/andrey_dancers.jpg' alt='')
                p!= i18n[lang].home.andrey.about_4

                h3
                    = i18n[lang].home.andrey.performances

                .wp-block-image
                    .videos
                        +youtube('F8QHI7sT61Q')
                        +youtube('nvYTgp1s-r0')
                        +youtube('BZt_9_tkR0s')

                .wp-block-spacer(style='height: 20px')

                h2#anna= i18n[lang].home.anna.heading
                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/anna_portrait.jpg' alt='' width='300px')
                p!= i18n[lang].home.anna.about_1

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/anna_jump.jpg' alt='' width='400px')
                p!= i18n[lang].home.anna.about_2

                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/anna_cat.jpg' alt='')
                p!= i18n[lang].home.anna.about_3

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/anna_pose.jpg' alt='')
                p!= i18n[lang].home.anna.about_4
                p!= i18n[lang].home.anna.about_5

                .wp-block-spacer(style='height: 0px')

                figure.wp-block-image.alignleft
                    img.wp-image-32(src='images/anna_studio.jpg' alt='' width='400px')
                p!= i18n[lang].home.anna.about_6

                figure.wp-block-image.alignright
                    img.wp-image-32(src='images/anna_gratitude.jpg' alt='')
                p!= i18n[lang].home.anna.about_7

                .wp-block-spacer(style='height: 60px')

                h2#contact= i18n[lang].home.contact.heading
                p(style='text-align: left')
                    span= i18n[lang].home.contact.leave_me_a_note + ': '
                    a(href='mailto:hello@andreyanna.de' target='_blank' rel='noopener noreferrer') hello@andreyanna.de
